In [1]:
import pandas as pd 
import numpy as np

In [2]:
edge_desity = np.random.randint(100, size=1000)
genes = "gene1 gene2 gene4 gene5 gene6 gene7 gene8 gene9 gene10".split()

labled_data = tuple(zip(genes, edge_desity.tolist()))

In [3]:
df = pd.DataFrame.from_dict(labled_data)
pd.cut(df[1], 100)

0    (18.72, 19.53]
1     (8.919, 9.81]
2    (50.31, 51.12]
3    (61.65, 62.46]
4    (54.36, 55.17]
5    (82.71, 83.52]
6    (50.31, 51.12]
7     (89.19, 90.0]
8     (16.29, 17.1]
Name: 1, dtype: category
Categories (100, interval[float64, right]): [(8.919, 9.81] < (9.81, 10.62] < (10.62, 11.43] < (11.43, 12.24] ... (86.76, 87.57] < (87.57, 88.38] < (88.38, 89.19] < (89.19, 90.0]]

In [23]:
df[1]

0    59
1    34
2     5
3    45
4    55
5    28
6    63
7    40
8    61
Name: 1, dtype: int64

In [28]:
df = pd.read_csv("../Data/STRING.txt", sep="\t")

1972247

In [29]:
df.shape

(1972247, 3)

In [30]:
1972247 // 128

15408

In [37]:
bins_ranges = np.floor(np.linspace(0, 15408, 128)).astype(int)

array([    0,   121,   242,   363,   485,   606,   727,   849,   970,
        1091,  1213,  1334,  1455,  1577,  1698,  1819,  1941,  2062,
        2183,  2305,  2426,  2547,  2669,  2790,  2911,  3033,  3154,
        3275,  3397,  3518,  3639,  3761,  3882,  4003,  4124,  4246,
        4367,  4488,  4610,  4731,  4852,  4974,  5095,  5216,  5338,
        5459,  5580,  5702,  5823,  5944,  6066,  6187,  6308,  6430,
        6551,  6672,  6794,  6915,  7036,  7158,  7279,  7400,  7522,
        7643,  7764,  7885,  8007,  8128,  8249,  8371,  8492,  8613,
        8735,  8856,  8977,  9099,  9220,  9341,  9463,  9584,  9705,
        9827,  9948, 10069, 10191, 10312, 10433, 10555, 10676, 10797,
       10919, 11040, 11161, 11283, 11404, 11525, 11646, 11768, 11889,
       12010, 12132, 12253, 12374, 12496, 12617, 12738, 12860, 12981,
       13102, 13224, 13345, 13466, 13588, 13709, 13830, 13952, 14073,
       14194, 14316, 14437, 14558, 14680, 14801, 14922, 15044, 15165,
       15286, 15408])